body {

  header:is(#header) {
    background: #fff;
    padding: 8px 16px;
    height: 60px;

    h4 {
      font-size: 2.0rem;
    }
  }

  .text-brand-black {
    color: var(--common-black);
  }

  h4.header-title {
    font-size: 2.4rem;
  }

  .bg-grey1 {
    background: var(--common-grey1);
  }
  .bg-grey6 {
    background: var(--common-grey6);
  }


  .shadow-all {
    box-shadow: $shadow-common;
  }

/* 숫자 증감 버튼을 숨기기 위한 CSS */
  .no-spin input[type="number"]::-webkit-outer-spin-button,
  .no-spin input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .no-spin input[type="number"] {
    -moz-appearance: textfield;
  }
}


.mynotification{
  transition: 0.2s ease all;
}

table{
  .table-header{
    th{
      color:var(--common-black);
      background:var(--common-grey1) !important;
    }
  }

  td{
    background: var(--common-white);
    color:var(--common-black);
  }
}


.table-host-users{
  // 테이블 좌우 스크롤시 좌측 3개 셀 고정
  td:first-child,
  th:first-child {
    position: sticky;
    left: 0;
    z-index: 1;
    background: var(--common-white);
  }

  td:nth-child(2),
  th:nth-child(2) {
    position: sticky;
    left: 72px;
    z-index: 1;
    background: var(--common-white);
  }

  td:nth-child(3),
  th:nth-child(3) {
    position: sticky;
    left: 144px;
    z-index: 1;
    background: var(--common-white);
  }

  // 테이블 우측 마지막 셀 고정
  th:last-child,
  td:last-child {
    position: sticky;
    right: 0;
    z-index: 1;
  }

  td:last-child {
    background: var(--common-white);
  }
}