//NanumSquareNeo
@font-face {
  font-family: "NanumSquareNeo";
  font-weight: 100;
  src: url("assets/fonts/NanumSquareNeo/NanumSquareNeo-Light.woff2")format("woff2"),
    url('assets/fonts/NanumSquareNeo/NanumSquareNeo-Light.woff') format('woff');
}

@font-face {
  font-family: "NanumSquareNeo";
  font-weight: 200;
  src: url("assets/fonts/NanumSquareNeo/NanumSquareNeo-Regular.woff2")format("woff2"),
    url('assets/fonts/NanumSquareNeo/NanumSquareNeo-Regular.woff') format('woff');
}

@font-face {
  font-family: "NanumSquareNeo";
  font-weight: 300;
  src: url("assets/fonts/NanumSquareNeo/NanumSquareNeo-SemiBold.woff2")format("woff2"),
    url('assets/fonts/NanumSquareNeo/NanumSquareNeo-SemiBold.woff') format('woff');
}

@font-face {
  font-family: "NanumSquareNeo";
  font-weight: 400;
  src: url("assets/fonts/NanumSquareNeo/NanumSquareNeo-Bold.woff2")format("woff2"),
    url('assets/fonts/NanumSquareNeo/NanumSquareNeo-Bold.woff') format('woff');
}

@font-face {
  font-family: "NanumSquareNeo";
  font-weight: 500;
  src: url("assets/fonts/NanumSquareNeo/NanumSquareNeo-Black.woff2")format("woff2"),
    url('assets/fonts/NanumSquareNeo/NanumSquareNeo-Black.woff') format('woff');
}

//Pretendard
@font-face {
  font-family: "Pretendard";
  font-weight: 100;
  src: url("assets/fonts/Pretendard/Pretendard-Thin.subset.woff2")format("woff2"),
    url('assets/fonts/Pretendard/Pretendard-Thin.subset.woff') format('woff');
}

@font-face {
  font-family: "Pretendard";
  font-weight: 200;
  src: url("assets/fonts/Pretendard/Pretendard-Light.subset.woff2")format("woff2"),
    url('assets/fonts/Pretendard/Pretendard-Light.subset.woff') format('woff');
}

@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  src: url("assets/fonts/Pretendard/Pretendard-Regular.subset.woff2")format("woff2"),
    url('assets/fonts/Pretendard/Pretendard-Regular.subset.woff') format('woff');
}

@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  src: url("assets/fonts/Pretendard/Pretendard-Medium.subset.woff2")format("woff2"),
    url('assets/fonts/Pretendard/Pretendard-Medium.subset.woff') format('woff');
}

@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  src: url("assets/fonts/Pretendard/Pretendard-Bold.subset.woff2")format("woff2"),
    url('assets/fonts/Pretendard/Pretendard-Bold.subset.woff') format('woff');
}


@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  src: url("assets/fonts/Pretendard/Pretendard-Black.subset.woff2")format("woff2"),
    url('assets/fonts/Pretendard/Pretendard-Black.subset.woff') format('woff');
}

// products
@font-face {
  font-family: "Pretendard";
  font-weight: 100;
  src: url("assets/fonts/Pretendard/ProductSans-Thin.woff")format("woff");
  unicode-range: U+0020-007E;
}

@font-face {
  font-family: "Pretendard";
  font-weight: 200;
  src: url("assets/fonts/Pretendard/ProductSans-Light.woff")format("woff");
  unicode-range: U+0020-007E;
}

@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  src: url("assets/fonts/Pretendard/ProductSans-Regular.woff")format("woff");
  unicode-range: U+0020-007E;
}

@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  src: url("assets/fonts/Pretendard/ProductSans-Medium.woff")format("woff");
  unicode-range: U+0020-007E;
}

@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  src: url("assets/fonts/Pretendard/ProductSans-Bold.woff")format("woff");
  unicode-range: U+0020-007E;
}


@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  src: url("assets/fonts/Pretendard/ProductSans-Black.woff")format("woff");
  unicode-range: U+0020-007E;
}
