// app global css in SCSS form
// setting
@import "setting/reset";
@import "setting/vars";
@import "setting/font-family";
@import "setting/common";

body.body--light {
  color:var(--common-black);
}

body.body--dark {
  color: var(--common-white);
  --q-primary:var(--common-positive);
}


.shadow-all{
  box-shadow: $shadow-common;
}