// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: ;Use the "Theme Builder" on Quasar's documentation website.

// 퀘이사에서 기본적으로 지정되어 있는 값을 여기서 바꿔서 적용할 수 있음.
// 즉, 예전 방식이었던 reset.scss처럼 따로 만들어서 작업 할 필요 없이 이 파일안에서 퀘이사 변수를 가져와서 새로 지정해주면 지정된 값으로 대체 가능, 하지만 최소한의 초기설정은 필요할듯

@charset "UTF-8";

$primary   : #849c23;
$secondary : #26A69A;
$accent    : #9C27B0;

$dark      : #1D1D1D;
$dark-page : #121212;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;

// !default : SCSS에서 속성값이 정의되지 않은 변수의 초기값을 선언해준다.
$body-font-size : 1.6rem;
$body-line-height : 1.5;
$typography-font-family:'NanumSquareNeo';


$h1:        (size: 6rem,     line-height: 6rem,      weight: 300);
$h2:        (size: 3.6rem,  line-height: 3.6rem,   weight: 300);
$h3:        (size: 3.2rem,     line-height: 3.2rem,    weight: 400);
$h4:        (size: 2.8rem, line-height: 2.5rem,    weight: 400);
$h5:        (size: 2.4rem,   line-height: 2rem,        weight: 400);
$h6:        (size: 2.0rem,  line-height: 2rem,       weight: 400);
$subtitle1: (size: 2.4rem,     line-height: 2.4rem,   weight: 600);
$subtitle2: (size: 2.0rem,  line-height: 2.0rem,  weight: 400);
$body1:     (size: 1.6rem,     line-height: 1.6rem,    weight: 300);
$body2:     (size: 1.4rem,  line-height: 1.4rem,   weight: 300);
$overline:  (size: .75rem,   line-height: 2rem,      weight: 500);
$caption:   (size: 1.2rem,   line-height: 1.25rem,   weight: 400);

// shadow
$shadow-common : 0 4px 12px rgba(18, 18, 18, .15);
$black:#181818;