// src/css/quasar.variables.scss
@charset "UTF-8";

// setting
@import "setting/reset";
@import "setting/vars";
@import "setting/font-family";
@import "setting/common";

// @import "setting/reset";
// @import "setting/mixin";
// @import "setting/common";

$primary   : #1976D2;
$secondary : #26A69A;
$accent    : #9C27B0;

$dark      : #181818;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;